Code/MaterialChips/MaterialChips.Android/bin/
Code/MaterialChips/MaterialChips.Android/obj/
Code/MaterialChips/MaterialChips.iOS/bin/
Code/MaterialChips/MaterialChips.iOS/obj/
Code/MaterialChips/MaterialChips.UWP/bin/
Code/MaterialChips/MaterialChips/obj/
